<!DOCTYPE html>
<html>
<head>
  <title>Navtest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<head>
  <title>Navtest</title>


  <style type="text/css">

    *{
      margin: 0;
      padding-top: 0;
    }

    #header {
      height: 150px;
      width: 100%;
      position: fixed;
      background: #ccc;
      transition:all 0.8s;
          }
    div {
      height: 2000px;
    }
  </style>
</head>
<body>

  <header id="header">

  </header>

  <div>

    <br><br><br><br><br><br><br><br><br>

    <%= yield %>

  </div>




</body>
</html>
